/***************************
*** GENERAL
***************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right;}
.red { color: #ff5049 !important;}
.red-focus:focus {border: 1px solid #ff5049 !important;}

/***************************
*** TOP PART
***************************/

.top {
    height: 45vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/got.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/
.bottom {
    position: relative;
    background-color: rgba(201, 195, 195, 0.884);
    padding-bottom: 30px;
}

/***** FORM *****/
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    width: 100%;
}

.add__container {
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}

.add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description { 
    width: 400px;
    min-width: 170px;
    max-width: 45%;
}
.add__value { 
    width: 100px;

}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
    transition: color 0.3s;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    position: relative;
    width: 84%;
    margin: 40px auto;
    padding-top: 30px;
    padding-bottom: 55px;
    background-color: whitesmoke;
    min-height: 270px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.income {
    float: left;
    width: 475px;
    /* padding-bottom: 100px; */
    min-height: 140px;
}

.expenses {
    float: left;
    width: 475px;
    min-height: 140px;
    margin-bottom: 10px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.income__title { color: #28B9B5; }
.expenses__title { color: #FF5049; }

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }

/********** BUTTONS **************/

/*Next and previous buttons*/

.page-btn {
    border: none;
    outline: none;
    padding: 12px;
    width: 50px;
    height: 50px;
    background-color: rgba(245, 245, 245, 0.404);
    text-align: center;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s;
}

.page-btn:hover {
    background-color: whitesmoke;
    transform: translateY(-5px);

}
.page-btn:focus {
    outline: none;
    box-shadow: none;
}

.page-btn-next {
    position: absolute;
    top: 250px;
    right: 0px;
    padding: 10px;
}

.page-btn-previous {
    position: absolute;
    top: 250px;
    left: 0px;
    padding: 10px;

}
.budget-list {
    max-width: 95%;
    
}
/*Edit and submit buttons*/

.edit_and_submit {
    position: absolute;
    bottom: 12px;
    right: 20px;
}

.edit { color: rgb(240, 47, 47); border: none; }
.submit { color: teal; border: none;}

.edit:hover, .edit:active {
    color: rgb(138, 28, 28);
    box-shadow: none;
    outline: none;
    border: none;
}
.submit:hover, .submit:active {
    color: rgb(3, 68, 68);
    box-shadow: none;
    outline: none;
}

.edit:focus, .submit:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

/******* STATS PAGE *****/

/** Top **/
.stats-top{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/got.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 45vh;
}
.stats-year {
    color: white;font-size: 24px;
    padding: 20px;
    text-align: center;
}

.stats-total-budget {
    color: white;
    font-size: 40px;
    text-align: center;
}

.stats-total-incomes {
    color: rgb(42, 184, 184);
    position: absolute;
    font-size: 20px;
    top: 65%;
    right: 50px;

}
.stats-total-expenses {
    color: rgb(184, 42, 42);
    position: absolute;
    font-size: 20px;
    top: 80%;
    right: 50px;

}

/** Bottom **/
.stats-bottom {
    position: relative;
    /* background-color: rgba(201, 195, 195, 0.884); */
    padding-bottom: 30px;
}
.stats-container {
    border-radius: 0px;
    padding-top: 15px;
    min-height: 370px;
}

.stats-title {
    font-size: 16px;
    color: teal;
    padding: 0 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid teal;
    margin-bottom: 10px;
}

.list-item {
    position: relative;
    margin-top: 5px;
}
.accordion {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 14px;
    padding-left: 5px;
    border-radius: 0;
    border-bottom: 1px solid teal;
}
.accordion.active {
    background-color: rgb(233, 233, 233);
}
.accordion:focus {
    box-shadow: none;
}

.accordion:hover, .accordion:active, .accordion:focus {
    background-color: rgb(233, 233, 233);
}
.monthly-income, .monthly-expense, .monthly-total {
    float: right;
    padding: 4px;
    margin: 4;
    font-size: 14px;
}
.monthly-total {
    font-size: 16px;
    margin-right: 15px;
}
.monthly-description {
    position: relative;
    top: 2px;
}
.monthly-income {color: teal}
.monthly-expense {color: red}

.monthly-budget-information {
    position: relative;
    margin: auto;
    padding:0px;
    font-size: 13px;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
    border-bottom: 0.5px solid rgb(228, 225, 225);
}
.info-description{
    position: absolute;
    top: 10px;
    left: 10px;
}
.info-income, .info-expense {
    float: right;
    padding: 10px;
}
.info-income {color: teal}
.info-expense {color: red}

.item-info-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.item-info-container.active {
    max-height: 100%;
}