//imports
@import './variables.scss';
/***************************
*** GENERAL
***************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.red {
  color: #ff5049 !important;
}
.red-focus:focus {
  border: 1px solid #ff5049 !important;
}

/**********************************************
*** BOTTOM PART
**********************************************/

// .unpaid {
//     background-color: #FFDAD9 !important;
//     cursor: pointer;
//     color: #FF5049;

// }

// .unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
// .unpaid:hover .item__description { font-weight: 900; }

/********** BUTTONS **************/

/*Next and previous buttons*/

.page-btn {
  border: none;
  outline: none;
  padding: 12px;
  width: 50px;
  height: 50px;
  background-color: rgba(245, 245, 245, 0.404);
  text-align: center;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s;
}

.page-btn:hover {
  background-color: whitesmoke;
  transform: translateY(-5px);
}
.page-btn:focus {
  outline: none;
  box-shadow: none;
}

.page-btn-next,
.page-btn-previous {
  position: absolute;
  top: 230px;
  padding: 10px;
}
.page-btn-next {
  right: 0px;
}
.page-btn-previous {
  left: 0px;
}

/*Edit and submit buttons*/

.edit_and_submit {
  position: absolute;
  bottom: 12px;
  right: 20px;
  .edit {
    color: $expenseColor;
    border: none;
    margin: 10px;
    cursor: pointer;
  }
  .submit {
    color: $incomeColor;
    border: none;
    cursor: pointer;
  }
  .edit:hover,
  .edit:active {
    color: rgb(138, 28, 28);
    box-shadow: none;
    outline: none;
    border: none;
  }
  .submit:hover,
  .submit:active {
    color: rgb(3, 68, 68);
    box-shadow: none;
    outline: none;
  }
  .edit:focus,
  .submit:focus {
    box-shadow: none;
    outline: none;
    border: none;
  }
}

/******* STATS PAGE *****/
@import './statspage';
